<app-navbar></app-navbar>
<h1>Integrantes del equipo:</h1><hr>
<br>
<div class="container col-2">
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">191243</div>
  <div class="card-body">
    <h5 class="card-title">TIDSM 4A</h5>
    <p class="card-text">TALAMANTES CASTAÑEDA ÁNGELA MARÍA</p>
  </div>
</div>
</div>
<div class="container col-2" >
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">191705 4A</div>
  <div class="card-body">
    <h5 class="card-title">TIDSM</h5>
    <p class="card-text">BADILLO MACÍAS SANDRA PAULINA.</p>
  </div>
</div>
</div>
