<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" type="button" (click)="NavegaraProductos()">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" (click)="NavegaraCategorias()">Categorías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" (click)="NavegaraUsuarios()">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" (click)="NavegaraAcercade()">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" (click)="NavegarPipes()">Pipes</a>
            </li>
        </ul>
    </div>
</nav>

