<app-navbar></app-navbar>
<h2>Pipes <small>Angular</small></h2>
<hr />
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <th>Variable</th>
        <th>PIPE</th>
        <th>Salida</th>
      </thead>
      <tbody>
        <tr>
          <td>{{ Nombre }}</td>
          <td>Uppercase</td>
          <td>{{ Nombre | uppercase }}</td>
          <!-- Funcionan los Pipes. -->
          <!-- {{1.nombre de variable/propiedad  2-|  3.nombre del pipe a utilizar.}} -->
          <!-- | indica al angular que habla de un pipe. -->
        </tr>

        <tr>
          <td>{{ Nombre }}</td>
          <td>lowercase</td>
          <td>{{ Nombre | lowercase }}</td>
        </tr>
            <hr>
            <tbody>
                <tr>
                  <td>{{ Nombre2 }}</td>
                  <td>Uppercase</td>
                  <td>{{ Nombre2 | uppercase }}</td>
                  <!-- Funcionan los Pipes. -->
                  <!-- {{1.nombre de variable/propiedad  2-|  3.nombre del pipe a utilizar.}} -->
                  <!-- | indica al angular que habla de un pipe. -->
                </tr>
        
                <tr>
                  <td>{{ Nombre2 }}</td>
                  <td>lowercase</td>
                  <td>{{ Nombre2 | lowercase }}</td>
                </tr>